<header class="main-header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                     <h1>MeetRoom</h1>
                </div>
      
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home">Home</a></li>
                        <li class="dropdown">
                            <a href="rooms-list.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rooms<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/rooms-lists">View all rooms</a></li>
                                <li><a href="/reservations-lists">View all reservations</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
      </header>

      